Checks: '*,-llvm-include-order,-llvmlibc-restrict-system-libc-headers,-cppcoreguidelines-avoid-non-const-global-variables,-altera-unroll-loops,-hicpp-no-assembler,-hicpp-use-nullptr,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-performance-no-int-to-ptr,-readability-identifier-length,-bugprone-easily-swappable-parameters,-readability-avoid-const-params-in-decls,-readability-function-cognitive-complexity,-hicpp-signed-bitwise'
CheckOptions:
    - key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
      value: 1
    